################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WindowsExcel/UnitTestProject1/bin/Debug
/WindowsExcel/UnitTestProject1/obj/Debug
/WindowsExcel/WindowsExcel/bin/Debug
/WindowsExcel/WindowsExcel/obj/Debug
/WindowsExcel/.vs/WindowsExcel
